html {
  background-color: #90caf9 ; /*blue lighten-3*/
}


tr {
  border-color: black;
  background-color: grey;
}

button.listedButton{
  align-self: center;
  margin: auto;
  color: rgb(0, 0, 0);
  background-color: transparent;
  margin: transparent;
}
